{% extends "layout.html" %}
{% block body %}
        <script type="application/javascript">

          function generateInnerForMozillian(aMozillian) {
            var inner = '<div class="col-xs-5" style="border-bottom:1px solid #ebedef;margin-right: 15px;">';
            inner += '<div class="row el_row">';
            inner += '<div class="user_avatar"></div>';
            inner += '<h3 class="user_name">' + aMozillian.nickname + '<span class="duration">'+aMozillian.duration+' hours</span></h3>';
            inner += '<div class="progress">';
            inner += '<div class="progress-bar progress-bar-info" style="width: '+aMozillian.getProgress()+'%;"></div>';
            inner +=   '</div>';
            inner +=   '</div>';
            inner +=   '</div>';

            return inner;
          }

          function generateInnerForCheckin(aCheckin) {
              var inner = '<tr class="gradeA">';
                  inner += '<td>'+aCheckin.id+'</td>';
                  inner += '<td>Checkin 12</td>';
                  inner += '<td>'+aCheckin.duration +'h</td>';
                  inner += '<td class="center">'+aCheckin.datetime.toString()+'</td>';
                  inner += '<td class="center">Moz1</td>';
                  inner += '</tr>';

              return inner;
          }

          function getMozillians() {
            var requestURL = 'http://' + document.domain + ':5000/api/mozillians';
            var mozillianContainer = document.getElementById('home-pills');

              $.ajax({
                  type: 'GET',
                  url: requestURL,
                  async: true,
                  contentType: "application/json",
                  success: function(json) {

                    for(var i in json.mozillians){
                      var mozillian = createMozillian(json.mozillians[i]);

                      mozillian.engagement = getEngagement(json.mozillians[i].engagement);
                      mozillianContainer.innerHTML += generateInnerForMozillian(mozillian);
                    }
                  },
                  error: function(e) {
                  console.log(e.message);
                  }
              });

          }

          function getEngagement(aID){
              var requestURL = 'http://'+ document.domain + ':5000/api/engagements/'+aID;
              var engagement = null;

              $.ajax({
                  type: 'GET',
                  url: requestURL,
                  async: false,  // because getMozillians depends on it.
                  contentType: "application/json",
                  success: function(json) {
                    engagement = createEngagement(json);
                  },
                  error: function(e) {
                  console.log(e.message);
                  }
              });

              return engagement;
          }


          function getCheckins() {
            var requestURL = 'http://'+ document.domain + ':5000/api/checkins';
            var checkinContainer = document.getElementById('checkinsContainer');

            $.ajax({
              type: 'GET',
              url: requestURL,
              async: true,
              contentType: "application/json",
              success: function(json) {
                for(var i in json.checkins) {
                  var checkin = createCheckin(json.checkins[i]);
                  checkinContainer.innerHTML += generateInnerForCheckin(checkin);
                }
              },
              error: function(e) {
                console.log(e.message);
              }
            });
          }

         window.addEventListener('load', function () {
              getMozillians();
              getCheckins();

         });
        </script>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Track Mozillians' Progress</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-square-o fa-fw"></i> Check-in
                            <div class="pull-right">
                                    <a id="modal-566656" href="#modal-container-566656" role="button" class="btn btn-success btn-xs" data-toggle="modal"><i class="fa fa-plus fa-fw"></i>Add</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- <div id="morris-area-chart"></div> -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab"><i class="fa fa-th-list fa-fw"></i> List</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab"><i class="fa fa-table fa-fw"></i> Table</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                    <!-- User Progress Element -->
                                                      <!-- End User Progress Element -->
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Checkin</th>
                                            <th>Duration</th>
                                            <th>Date</th>
                                            <th>Mozillian</th>
                                        </tr>
                                    </thead>
                                    <tbody id="checkinsContainer">
                                    </tbody>
                                </table>
                            </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-8 -->
            </div>
        </div>
        <!-- /#page-wrapper -->
{% endblock %}
