{% extends "layout.html" %}
{% block body %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Track Mozillians' Progress</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-check-square-o fa-fw"></i> Check-in
                            <div class="pull-right">
                                
                                    <a id="modal-566656" href="#modal-container-566656" role="button" class="btn btn-success btn-xs" data-toggle="modal"><i class="fa fa-plus fa-fw"></i>Add</a>
                                    
                            
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- <div id="morris-area-chart"></div> -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab"><i class="fa fa-th-list fa-fw"></i> List</a>
                                </li>
                                <li><a href="#profile-pills" data-toggle="tab"><i class="fa fa-table fa-fw"></i> Table</a>
                                </li>                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home-pills">
                                    <!-- User Progress Element -->
                                    <div class="col-xs-5" style="border-bottom:1px solid #ebedef;margin-right: 15px;">
                                        <div class="row el_row">
                                            <div class="user_avatar"></div>
                                            <h3 class="user_name">Mack<span class="duration">12 hours</span></h3>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End User Progress Element -->


                                    <!-- User Progress Element -->
                                    <div class="col-xs-5" style="border-bottom:1px solid #ebedef;margin-right: 15px;">
                                        <div class="row el_row">
                                            <div class="user_avatar"></div>
                                            <h3 class="user_name">Rednaks<span class="duration">12 hours</span></h3>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" style="width: 90%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End User Progress Element -->

                                    <!-- User Progress Element -->
                                    <div class="col-xs-5" style="border-bottom:1px solid #ebedef;margin-right: 15px;">
                                        <div class="row el_row">
                                            <div class="user_avatar"></div>
                                            <h3 class="user_name">Chaasof<span class="duration">12 hours</span></h3>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" style="width: 40%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End User Progress Element -->

                                    <!-- User Progress Element -->
                                    <div class="col-xs-5" style="border-bottom:1px solid #ebedef;margin-right: 15px;">
                                        <div class="row el_row">
                                            <div class="user_avatar"></div>
                                            <h3 class="user_name">Melek<span class="duration">12 hours</span></h3>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" style="width: 50%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End User Progress Element -->

                                    <!-- User Progress Element -->
                                    <div class="col-xs-5" style="border-bottom:1px solid #ebedef;margin-right: 15px;">
                                        <div class="row el_row">
                                            <div class="user_avatar"></div>
                                            <h3 class="user_name">MedFiras<span class="duration">12 hours</span></h3>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" style="width: 2%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End User Progress Element -->
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Checkin</th>
                                            <th>Duration</th>
                                            <th>Date</th>
                                            <th>Mozillian</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>1</td>
                                            <td>Checkin 1</td>
                                            <td>5h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz1</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>2</td>
                                            <td>Checkin 2</td>
                                            <td>6h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz2</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>3</td>
                                            <td>Checkin 3</td>
                                            <td>7h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz1</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>4</td>
                                            <td>Checkin 4</td>
                                            <td>4h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz3</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>5</td>
                                            <td>Checkin 5</td>
                                            <td>3h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz14</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>6</td>
                                            <td>Checkin 6</td>
                                            <td>2h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz5</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>7</td>
                                            <td>Checkin 7</td>
                                            <td>6h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz1</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>8</td>
                                            <td>Checkin 8</td>
                                            <td>2h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz2</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>9</td>
                                            <td>Checkin 9</td>
                                            <td>1h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz6</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>10</td>
                                            <td>Checkin 10</td>
                                            <td>0.5h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz17</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>11</td>
                                            <td>Checkin 11</td>
                                            <td>1.5h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz1</td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>12</td>
                                            <td>Checkin 12</td>
                                            <td>3h</td>
                                            <td class="center">27/06/2014</td>
                                            <td class="center">Moz1</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                    
                </div>
                <!-- /.col-lg-8 -->
                
            </div>
           

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
