{% extends "layout.html" %}
{% block body %}
    <link href=" {{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">

       <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
{% if me and not user.is_authenticated() %}
                    <!-- TODO #0: Add style here -->
                   <h4>
                      <span><strong>Ooops :s </strong> You must login ! </span>
                    </h4>
{% elif me and user.is_authenticated() and not user.nickname %}
                  <script type="application/javascript">
                      function register() {
                        var requestURL = 'http://' + document.domain + ':5000/api/mozillians';
                        var aNickname = document.getElementById('nickname').value;

                        var myData = {nickname: aNickname};

                        console.log("Register ... "+nickname);
                        $.ajax({
                          type: 'POST',
                          url: requestURL,
                          async: false,
                          contentType: "application/json",
                          data: JSON.stringify(myData),
                          success: function(json) {
                            // TODO: refresh the page maybe.
                            console.log(json);
                          },
                          error: function(e) {
                            // TODO
                            console.log(e);
                          }
                        });
                      }
                  </script>
                  <!-- TODO #3 : Add style :) -->
                  <h4>
                    <strong>Registration step 2 :</strong>
                  </h4>
                  <br/>Please set your nickname to complete the registration.<br/>
                  <form action=# onsubmit="register();">
                    <label>Nickname</label> <input type="text" id="nickname" required/>
                    <input type="submit" value="Finish Him !">
                  </form>
{% elif not user %}
                    <!-- TODO #2: Add style here -->
                    <h4>
                      <span><strong>Nice try, but </strong> this user does not exist ! </span>
                    </h4>
{% else %}
                   <div class="main-header page-header">
                                <h2>Profile</h2>
                                <em>user profile page</em>
                            </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="panel panel-default"> -->
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="main-content">
                                <!-- NAV TABS -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#profile-tab"><i class="fa fa-user"></i> Profile</a></li>
                                    <li class=""><a data-toggle="tab" href="#activity-tab"><i class="fa fa-rss"></i> Recent Activity</a></li>

                                </ul>
                                <!-- END NAV TABS -->
                                
                                <div class="tab-content profile-page">
                                    <!-- PROFILE TAB CONTENT -->
                                    <div id="profile-tab" class="tab-pane profile active">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="user-info-left">
                                                    <img alt="Profile Picture" src="img/avatar/profile-avatar.png">
                                                    <h2>{{ user.nickname }}</h2>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="user-info-right">
                                                    <div class="basic-info">
                                                        <h3><i class="fa fa-square"></i> Basic Information</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">Username</span>
                                                            <span class="data-value">{{ user.nickname }}</span>
                                                        </p>
                                                                                                                                        <p class="data-row">
                                                            <span class="data-name">Date Joined</span>
                                                            <span class="data-value">01/01/2014</span>
                                                        </p>
                                                    </div>
                                                    <div class="contact_info">
                                                        <h3><i class="fa fa-square"></i> Contact Information</h3>
                                                        <p class="data-row">
                                                            <span class="data-name">Email</span>
                                                            <span class="data-value">{{ current_user.email }}</span>
                                                        </p>                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PROFILE TAB CONTENT -->

                                    <!-- ACTIVITY TAB CONTENT -->
                                    <div id="activity-tab" class="tab-pane activity">
                                        <ul class="list-unstyled activity-list">
                                            <li>
                                                <i class="fa fa-magic activity-icon activity-icon-blue pull-left"></i>
                                                <p>
                                                    New checkin created : <span class="label label-info">checkin 1</span> <span class="timestamp">12 minutes ago</span>
                                                </p>
                                            </li>
                                            
                                            <li>
                                                <i class="fa fa-thumbs-up activity-icon activity-icon-green pull-left"></i>
                                                <p>
                                                    Checkin  <span class="label label-success">checkin 1</span> compleated<span class="timestamp">December 12</span>
                                                </p>
                                            </li>
                                           
                                        </ul>
                                        <p class="text-center more"><a class="btn btn-custom-primary" href="#">View more <i class="fa fa-long-arrow-right"></i></a></p>
                                    </div>
                                    <!-- END ACTIVITY TAB CONTENT -->

                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    <!-- </div> -->
                    
{% endif %}                    
                </div>
                <!-- /.col-lg-8 -->
                
            </div>
           

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
